In [5]:
import datetime

In [6]:
t1 = datetime.time(12,34,45)

In [7]:
t1

datetime.time(12, 34, 45)

In [8]:
t2 = t1.replace(hour=23)

In [9]:
t2

datetime.time(23, 34, 45)

In [10]:
t1

datetime.time(12, 34, 45)

In [11]:
datetime.time.min

datetime.time(0, 0)

In [12]:
datetime.time.max

datetime.time(23, 59, 59, 999999)

In [13]:
t1.hour

12

In [14]:
t1.second

45

In [15]:
t1.minute

34

In [16]:
t1.isoformat()

'12:34:45'

In [17]:
dir(datetime.time)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'dst',
 'fold',
 'fromisoformat',
 'hour',
 'isoformat',
 'max',
 'microsecond',
 'min',
 'minute',
 'replace',
 'resolution',
 'second',
 'strftime',
 'tzinfo',
 'tzname',
 'utcoffset']

In [18]:
t1>t2

False

In [19]:
t2>t1

True

In [20]:
t1

datetime.time(12, 34, 45)

In [21]:
t1.strftime('%H: %M: %S')

'12: 34: 45'

## Date class

In [22]:
d1 = datetime.date(2021,2,24)

In [23]:
d1

datetime.date(2021, 2, 24)

In [24]:
d2 = d1.replace(2021,2,10)

In [25]:
d2

datetime.date(2021, 2, 10)

In [26]:
datetime.date.min

datetime.date(1, 1, 1)

In [27]:
datetime.date.max

datetime.date(9999, 12, 31)

In [28]:
dir(datetime.date)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'ctime',
 'day',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'min',
 'month',
 'replace',
 'resolution',
 'strftime',
 'timetuple',
 'today',
 'toordinal',
 'weekday',
 'year']

In [29]:
datetime.date.today()

datetime.date(2021, 2, 25)

In [30]:
d1.ctime()

'Wed Feb 24 00:00:00 2021'

In [31]:
d1.strftime('%Y/%m/%d')

'2021/02/24'

In [32]:
d1.weekday()

2

In [33]:
d2.weekday()

2

## struct_time object

In [34]:
d1.timetuple()

time.struct_time(tm_year=2021, tm_mon=2, tm_mday=24, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=55, tm_isdst=-1)

In [35]:
datetime.date.fromtimestamp(0)

datetime.date(1970, 1, 1)

## datetime class

In [37]:
dt1 = datetime.datetime(2021,1,10,12,45,23)

In [38]:
dt1

datetime.datetime(2021, 1, 10, 12, 45, 23)

In [39]:
dt1.date()

datetime.date(2021, 1, 10)

In [40]:
dt1.time()

datetime.time(12, 45, 23)

In [41]:
dir(datetime.datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [42]:
datetime.datetime.today()

datetime.datetime(2021, 2, 25, 20, 15, 47, 577974)

In [43]:
datetime.datetime.now()

datetime.datetime(2021, 2, 25, 20, 16, 4, 785790)

In [44]:
datetime.datetime.utcnow()

datetime.datetime(2021, 2, 25, 14, 16, 33, 704682)

In [45]:
datetime.datetime.fromtimestamp(34344646)

datetime.datetime(1971, 2, 2, 18, 10, 46)

In [52]:
s1 = dt1.ctime()

In [53]:
s1

'Sun Jan 10 12:45:23 2021'

In [54]:
datetime.datetime.strptime(s1, '%a %b %d %H:%M:%S %Y')

datetime.datetime(2021, 1, 10, 12, 45, 23)

In [58]:
dt1.date()

datetime.date(2021, 1, 10)

In [59]:
dt1.time()

datetime.time(12, 45, 23)

In [60]:
datetime.datetime.combine(d1,t1)

datetime.datetime(2021, 2, 24, 12, 34, 45)

# timedelta class

In [62]:
from datetime import date,datetime,timedelta

In [65]:
delta1 = timedelta(weeks=1,days=1,minutes=20,hours=6,microseconds=63)

In [66]:
delta1

datetime.timedelta(days=8, seconds=22800, microseconds=63)

In [68]:
delta1.days

8

In [69]:
delta1.seconds

22800

In [70]:
delta1.microseconds

63

In [71]:
timedelta.min

datetime.timedelta(days=-999999999)

In [72]:
timedelta.max

datetime.timedelta(days=999999999, seconds=86399, microseconds=999999)

In [76]:
delta2 = timedelta(days=1, seconds=-4000)

In [77]:
delta2

datetime.timedelta(seconds=82400)

In [78]:
dir(timedelta)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'days',
 'max',
 'microseconds',
 'min',
 'resolution',
 'seconds',
 'total_seconds']

In [79]:
delta2.total_seconds()

82400.0

In [80]:
delta1.total_seconds()

714000.000063

In [82]:
abs(delta1)

datetime.timedelta(days=8, seconds=22800, microseconds=63)

In [83]:
abs(delta2)

datetime.timedelta(seconds=82400)

In [87]:
abs(timedelta(days=-1))

datetime.timedelta(days=1)

In [88]:
delta1.__mul__(2)

datetime.timedelta(days=16, seconds=45600, microseconds=126)

In [89]:
delta1.__floordiv__(2)

datetime.timedelta(days=4, seconds=11400, microseconds=31)

In [90]:
str(delta1)

'8 days, 6:20:00.000063'

In [91]:
delta1.microseconds

63

In [92]:
dt1

datetime.datetime(2021, 1, 10, 12, 45, 23)

In [95]:
dt2 = datetime(2021, 1, 1, 10, 15, 11)

In [96]:
dt1 - dt2

datetime.timedelta(days=9, seconds=9012)

In [97]:
delta3 = dt1-dt2

In [98]:
delta3

datetime.timedelta(days=9, seconds=9012)

In [99]:
dt2 + delta3

datetime.datetime(2021, 1, 10, 12, 45, 23)

## Iterators

In [100]:
list1 = [5,10,15,20]
for x in list1:
    print(x**2)

25
100
225
400

In [101]:
dict1 = {'a':1 , 'b':2 , 'c':3 , 'd':4 , 'e':5}

In [103]:
for x in dict1:
    print(x)

a
b
c
d
e

In [104]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [105]:
list3 = [9,8,7]
n=0
x=len(list3)
print(x)
while n<x:
    print(list3[n])
    n=n+1

3
9
8
7

In [106]:
1 in ['a',3.4,'1',1]

True

In [107]:
list1

[5, 10, 15, 20]

In [108]:
iter3 = iter(list1)

In [109]:
iter3

In [110]:
next(iter3)

5

In [111]:
next(iter3)

10

In [112]:
list(iter3)

[15, 20]

In [113]:
list1

[5, 10, 15, 20]

In [114]:
iter4 = iter(list1)

In [115]:
iter4

In [117]:
while True:
    try:
        item = next(iter4)
    
    except StopIteration:
        break
    else:
        print(item)

10
15
20

## Iteration protocol

In [118]:
list1

[5, 10, 15, 20]

In [119]:
iter(list1)

In [120]:
iter('abc')

In [121]:
iter({'k1':1,'k2':2})

In [122]:
iter1 = iter(list1)

In [123]:
iter1

In [124]:
iter(iter1)

In [125]:
iter(iter1) == iter1

True

## Generators

In [128]:
def Test():
    print("Function begins. . .")
    x = 12
    return (x*2)

In [129]:
def Test_Gen():
    print("Generator Function begins. . .")
    x = 12
    yield (x*2)

In [130]:
Test()

Function begins. . .

24

In [131]:
Test_Gen()

In [132]:
Test2 = Test_Gen()

In [133]:
Test2

In [134]:
next(Test2)

Generator Function begins. . .

24

In [136]:
def Test3():
    yield 1
    yield 2
    yield 3

In [137]:
Test_obj = Test3()

In [138]:
Test_obj

In [139]:
next(Test_obj)

1

In [140]:
next(Test_obj)

2

## Generator expression

In [141]:
list5 = [x*2 for x in[4,5,6,7]]

In [142]:
list5

[8, 10, 12, 14]

In [143]:
gen5 = (x*2 for x in (2,3,4,5))

In [144]:
gen5

In [145]:
next(gen5)

4

In [146]:
next(gen5)

6

In [147]:
next(gen5)

8

In [148]:
next(gen5)

10