## 1. Multiply elements in list

In [9]:
list1 = [1,2,3,4,5,6,7,8,9]

In [12]:
import numpy

In [13]:
Multiply_list = numpy.prod(list1)

In [14]:
Multiply_list

362880

### Another method (Traversal)

In [19]:
def multiplyList(myList):
    result = 1
    for x in myList:
        result = result *x
    return result

In [20]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [1,2,3,4]

In [21]:
print(multiplyList(list1))

362880

In [22]:
print(multiplyList(list2))

24

### Using math.prod

In [24]:
import math

In [26]:
list1 = [1,2,3,4,5,6,7,8,9]

In [27]:
Multiply_list = math.prod(list1)

In [28]:
Multiply_list

362880

## 2. Remove duplicates from a list

###  Using List Comprehension

In [30]:
list1 = [1,3,4,5,3,6,9,6,10,-10,10]

In [31]:
print ("The original list is : " +  str(list1))

The original list is : [1, 3, 4, 5, 3, 6, 9, 6, 10, -10, 10]

In [34]:
res = []
[res.append(x) for x in list1 if x not in res]

[None, None, None, None, None, None, None, None]

In [35]:
print ("The list after removing duplicates : " + str(res))

The list after removing duplicates : [1, 3, 4, 5, 6, 9, 10, -10]

### Using set()

In [36]:
list1 = [1,3,4,5,3,6,9,6,10,-10,10]

In [37]:
print ("The original list is : " +  str(list1))

The original list is : [1, 3, 4, 5, 3, 6, 9, 6, 10, -10, 10]

In [38]:
list1 = list(set(list1))

In [39]:
print ("The list after removing duplicates : " + str(list1))

The list after removing duplicates : [1, 3, 4, 5, 6, 9, 10, -10]

### Using collections.OrderedDict.fromkeys()

In [40]:
from collections import OrderedDict

In [41]:
list1 = [1,3,4,5,3,6,9,6,10,-10,10]

In [42]:
print ("The original list is : " +  str(list1))

The original list is : [1, 3, 4, 5, 3, 6, 9, 6, 10, -10, 10]

In [43]:
res = list(OrderedDict.fromkeys(list1))

In [44]:
print ("The list after removing duplicates : " + str(res))

The list after removing duplicates : [1, 3, 4, 5, 6, 9, 10, -10]

## 3. Create a list using slicing

In [45]:
list1 = ['a','b','c','d','e','f']

In [46]:
list2 = [1,2,3,4,5,6]

In [47]:
list1[3:]

['d', 'e', 'f']

In [48]:
list2[:3]

[1, 2, 3]

In [49]:
list3 = list1[3:] + list2[:3]

In [50]:
list3

['d', 'e', 'f', 1, 2, 3]

## 4. Create new list using different methods

In [51]:
old_list = ['Python','Java','Javascript','CSS','HTML','C','C++']

In [53]:
new_list = old_list

In [54]:
new_list

['Python', 'Java', 'Javascript', 'CSS', 'HTML', 'C', 'C++']

In [55]:
old_list.append('Django')

In [56]:
new_list

['Python', 'Java', 'Javascript', 'CSS', 'HTML', 'C', 'C++', 'Django']

## 5. List Comprehension

In [58]:
simple_list = [-1,-2,-3,-4,-5,-6]

In [61]:
new_list = [(x+7) for x in simple_list]

In [62]:
new_list

[6, 5, 4, 3, 2, 1]

## 6. Convert list to a string

In [63]:
list1 = ['Hi!','My','name','is','Marzan']

In [65]:
str1 = ' '.join(list1)

In [66]:
str1

'Hi! My name is Marzan'

## 7. Nested Lists

In [67]:
list3 = [[1,2],[3,4],[5,6]]

In [73]:
print(*list3[0],*list3[1],*list3[2],sep='\n')

1
2
3
4
5
6

### Printed each elements in the sublists in a new Line (7)