## 1. Change a tuple

In [1]:
A = (1,2,3,4,[5,6,7])

In [2]:
A[4]

[5, 6, 7]

In [3]:
A[4][2] = 8

In [4]:
A[4]

[5, 6, 8]

In [5]:
A

(1, 2, 3, 4, [5, 6, 8])

## 2. Tuple Unpacking

In [6]:
B = 'Bangladesh','India','Pakistan'

In [7]:
(c1,c2,c3) = B

In [8]:
c1

'Bangladesh'

In [9]:
c2

'India'

In [10]:
c3

'Pakistan'

In [11]:
B

('Bangladesh', 'India', 'Pakistan')

## 3. Add elements to a Tuple

In [12]:
C=(3,5,7,9)

In [18]:
list1 = []

In [23]:
list1 = list(C)

In [24]:
list1

[3, 5, 7, 9]

In [25]:
list1.append(1)

In [26]:
list1

[3, 5, 7, 9, 1]

In [27]:
list1.append(11)

In [28]:
list1

[3, 5, 7, 9, 1, 11]

In [29]:
type(list1)

list

In [30]:
tuple(list1)

(3, 5, 7, 9, 1, 11)

In [31]:
type(list1)

list

In [32]:
D = tuple(list1)

In [33]:
D

(3, 5, 7, 9, 1, 11)

In [34]:
type(D)

tuple