In [1]:
list1 = [5,16.0,'Python 3.6']

In [2]:
print(list1)

[5, 16.0, 'Python 3.6']

In [3]:
id(list1)

1918171132288

In [4]:
list1.append(6)

In [5]:
list1

[5, 16.0, 'Python 3.6', 6]

In [6]:
list2 = ['Marzan','Software Engineer']

In [7]:
list2.append(25)

In [8]:
list2.append('Dhaka')

In [9]:
list2

['Marzan', 'Software Engineer', 25, 'Dhaka']

## List Slicing

In [10]:
list1[1:4]

[16.0, 'Python 3.6', 6]

In [11]:
list1

[5, 16.0, 'Python 3.6', 6]

In [12]:
list1[1:3]

[16.0, 'Python 3.6']

In [13]:
list1[:3]

[5, 16.0, 'Python 3.6']

In [14]:
list1[1:]

[16.0, 'Python 3.6', 6]

## Slicing lists in reverse direction

In [15]:
list2[::-1]

['Dhaka', 25, 'Software Engineer', 'Marzan']

In [16]:
list3 = [1,2,3,4,5,6,7,8,9]

In [17]:
list3[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## List comprehension

In [19]:
list1 = [-5,-6,-7,2,4,6,8]

In [22]:
list2 = [x for x in list1]

In [23]:
list2

[-5, -6, -7, 2, 4, 6, 8]

In [24]:
list3 = [(x**2) for x in list1]

In [25]:
list3

[25, 36, 49, 4, 16, 36, 64]

In [26]:
list4 = [(x**2) for x in list1 if x>0]

In [27]:
list4

[4, 16, 36, 64]

## List Constructor

In [28]:
list([1,2,3])

[1, 2, 3]

In [29]:
list('Python')

['P', 'y', 't', 'h', 'o', 'n']

In [30]:
list()

[]

## List Methods

In [31]:
list1 = [1,2,3,4,5,6,7,8,9]

In [32]:
list1.append(10)

In [33]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
list1.append([11,12,13])

In [36]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13]]

In [40]:
list2 = [1,2,3,4,5]
list3 = [6,7,8,9]

In [41]:
list2.extend(list3)

In [42]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
list3.append('dog')

In [44]:
list3

[6, 7, 8, 9, 'dog']

In [45]:
list2 + list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 'dog']

In [46]:
list3.remove('dog')

In [47]:
list3

[6, 7, 8, 9]

In [48]:
list3.pop(3)

9

In [49]:
list3

[6, 7, 8]

In [50]:
list1 in list2

False

In [51]:
list2 in list1

False

## Convert list to string

In [52]:
list1 = ['have','a','good','day']

In [55]:
str1 = ' '.join(list1)

In [56]:
str1

'have a good day'

In [59]:
list2 = ['Hello','world']

In [60]:
str2 = ' '.join(list2)

In [61]:
str2

'Hello world'

## Nested List

In [63]:
list1 = [1,5,6,[7,8,9],10]

In [64]:
list1[3][1]

8

In [65]:
list2 = ['a','b',['c','d',['e','f','g'],'h'],'i']

In [67]:
list2[2][2]

['e', 'f', 'g']

In [68]:
list2[2][2][0]

'e'

## List aliasing and cloning

In [69]:
list1 = [1,2,3]

In [70]:
list2 = list1

In [71]:
list2

[1, 2, 3]

In [74]:
list2 is list1

True

In [75]:
list1 is list2

True

In [76]:
list1.append(4)

In [77]:
list2

[1, 2, 3, 4]

In [78]:
list3 = [1,2,3,4,5]

In [79]:
list4 = list3[:]

In [80]:
list4

[1, 2, 3, 4, 5]

In [81]:
list3 is list4

False

In [82]:
list3[0]

1

In [83]:
list3.append(9)

In [84]:
list3

[1, 2, 3, 4, 5, 9]