In [1]:
tup1 = (1,2,3,4,5)

In [2]:
type(tup1)

tuple

In [3]:
tup1

(1, 2, 3, 4, 5)

In [4]:
tup2 = (1,2,3,4,['a','b','c'])

In [6]:
tup2[2]

3

In [8]:
tup2[4]

['a', 'b', 'c']

In [9]:
tup2[4][1]

'b'

In [10]:
tup2[-1]

['a', 'b', 'c']

In [11]:
tup2[:4]

(1, 2, 3, 4)

In [12]:
tup2

(1, 2, 3, 4, ['a', 'b', 'c'])

## Changing a tuple

In [13]:
tup3 = (1,2,3,4,['a','b','c'])

In [14]:
id(tup3)

1941612051168

In [15]:
id(tup3[4])

1941611957888

In [16]:
tup3[4][2] = 'd'

In [17]:
tup3

(1, 2, 3, 4, ['a', 'b', 'd'])

In [18]:
id(tup3[4])

1941611957888

In [19]:
tup3

(1, 2, 3, 4, ['a', 'b', 'd'])

In [20]:
id(tup3)

1941612051168

In [21]:
tup2 + tup3

(1, 2, 3, 4, ['a', 'b', 'c'], 1, 2, 3, 4, ['a', 'b', 'd'])

In [22]:
tup2 * 2

(1, 2, 3, 4, ['a', 'b', 'c'], 1, 2, 3, 4, ['a', 'b', 'c'])

## Tuple methods

In [23]:
tup2

(1, 2, 3, 4, ['a', 'b', 'c'])

In [24]:
all(tup2)

True

In [25]:
tup5 = (0,1,2,3)

In [26]:
all(tup5)

False

In [27]:
tup6 = ()

In [28]:
all(tup6)

True

In [29]:
any(tup6)

False

In [30]:
any(tup5)

True

In [31]:
max(tup5)

3

In [32]:
min(tup5)

0

In [34]:
sum(tup5)

6

In [35]:
str1 = 'Python'

In [36]:
list1 = [4,'t',8,0]

In [37]:
tuple(str1)

('P', 'y', 't', 'h', 'o', 'n')

In [38]:
tuple(list1)

(4, 't', 8, 0)

In [39]:
type(tuple(list1))

tuple

## methods on python tuples

In [40]:
tup5

(0, 1, 2, 3)

In [41]:
tup5.index(1)

1

In [42]:
tup5.index(2)

2

In [43]:
tup5.count(1)

1

In [44]:
tup5.count(6)

0

## packing and unpacking Tuple

In [47]:
a = 'John',7,'3 ft','20 kg'

In [48]:
a

('John', 7, '3 ft', '20 kg')

In [49]:
(name,age,height,weight) = a

In [50]:
a

('John', 7, '3 ft', '20 kg')

In [51]:
name

'John'

In [52]:
age

7

In [53]:
height

'3 ft'

In [54]:
weight

'20 kg'

In [55]:
x = 2
y = 3

In [56]:
x,y = y,x

In [57]:
x,y

(3, 2)

In [58]:
y,x

(2, 3)

In [59]:
x

3

In [60]:
y

2

## Iterating on a python tuple

In [61]:
b = (1,2,3,4,5)

In [62]:
for i in b:
    print(b)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [63]:
for i in b:
    print(i)

1
2
3
4
5

## Operations of tuples

In [64]:
b

(1, 2, 3, 4, 5)

In [65]:
5 in b

True

In [66]:
6 in b

False

In [67]:
5 not in b

False

In [68]:
6 not in b

True

In [69]:
(1,2,3,4,5) == b

True

In [70]:
(1,2) < b

True

In [71]:
(1,2,3,4,5,6) > b

True

In [74]:
(1,2,3,4,5) in b

False

In [76]:
id((1,2,3,4,5))

1941612923856

In [77]:
id(b)

1941612168752